# Gitignore for Perl 6 (http://www.perl6.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp

# input data
data/main.E

# output data
src/.qmake.stash
Makefile
src/*.output
src/Qt/*
src/*.cpp
src/*.hpp
src/*.h
src/*.o
src/*.so*
src/*.txt
src/*.lst
src/*.md
module/*

# Local tools
src/*.sh

